Repository SPOTeam/Server, pull requests merged in 2024-09, with the labels that each got.

#193 [REFACTOR] 추천 스터디 조회 Service 유닛 테스트 코드 작성
  src/main/java/com/example/spot/api/code/status/ErrorStatus.java
  src/main/java/com/example/spot/service/study/StudyQueryServiceImpl.java
  src/test/java/com/example/spot/service/study/StudyQueryServiceTest.java
Labels: :recycle: refactor, :tada: test

#196 [CHORE] Jira와 Github 연동 테스트
  .github/ISSUE_TEMPLATE/issue_template.yml
  .github/workflows/issue.yml
  README.md
Labels: :1234: chore, :+1: feature

#199 [REFACTOR] 불필요한 이슈 템플릿 제거
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/docs.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/fix.md
  .github/ISSUE_TEMPLATE/modify.md
  .github/ISSUE_TEMPLATE/refactor.md
Labels: :recycle: refactor

#206 [FEAT] 일반 로그인 기능 구현
  src/main/java/com/example/spot/api/code/status/ErrorStatus.java
  src/main/java/com/example/spot/api/code/status/SuccessStatus.java
  src/main/java/com/example/spot/config/WebSecurity.java
  src/main/java/com/example/spot/service/auth/AuthService.java
  src/main/java/com/example/spot/service/auth/AuthServiceImpl.java
  src/main/java/com/example/spot/web/controller/AuthController.java
  src/main/java/com/example/spot/web/dto/member/MemberRequestDTO.java
Labels: :+1: feature
